<h2>Add a task list</h2>


<%= form_for @task_list,  html: { class: "signin-form" } do |f| %>

  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-field" %>
  </div>
  <div>
    <%= f.submit "Create Task List",  class: "submit-button", disabled: "disabled" %>
  </div>

<% end %>